<h1>Messages</h1>
<div id="messages">
  <ul id="message-list">
  	<% @messages.each do |m| %>
  	<li id="message-<%=m.id%>"><%=m.body%></li>
  	<%end%>
  </ul>
  <span data-no-turbolink><%= link_to "Messages", messages_path %></span>
</div>

